src/main/mule/cicd-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="61771a3f-209f-4305-b44c-48aee0e3f4d1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-flowFlow" doc:id="59d4e385-c8e7-47fa-adb7-aa78b0c44f5e" >
		<http:listener doc:name="Listener" doc:id="34763fdd-d2bc-4b1f-8d05-d89012747789" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value='#["successfull response"]' doc:name="Set Payload" doc:id="ce750ddb-9804-4993-96c1-4ce63c06356a" />
	</flow>
</mule>
